.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav {
  display: flex;
  width: 100%;
  height: 15%;
}

nav h3 {
  position: relative;
  flex: 60%;
  margin: auto;
  left: 5%;
  font-size: 3em;
  color: grey;
}

#search {
  position: relative;
  margin: auto;
  right: 10%;
}

.main {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(360deg, rgb(46, 43, 43), #fca311);
  overflow: hidden;
}

.leftBar {
  position: relative;
  left: 5%;
}

.data {
  position: relative;
}